:root {
  --bg: #000;
  --fg: #fff;
}

/* Light mode. */
@media (prefers-color-scheme: light) {
  :root {
    --bg: #fff;
    --fg: #000;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  color: #66f;
  cursor: pointer;
}

a:hover {
  color: #aaf;
  cursor: pointer;
}

main {
  width: 1000px;
  max-width: 1000px;
}

main > header {
  background: var(--bg);
  top: 0;
  /*position: sticky;*/
  text-align:center;
  padding:20px;
  font-size: 2em;
}

main > header > nav {
  display: inline-block;
  padding: 3px 0;
}

main > article {
  margin-top: 25px;
  overflow: hidden;
  font-size: 0.9em;
}

main > footer {
  text-align: center;
  margin: 30px;
}

article p {
  text-align: justify;
}

article > address {
  font-style:  normal;
  margin-top: 15px;
}

article > div#prev-next {
  display: flex;
  justify-content: space-between;
}

article h1 {
  font-size: 1.6em;
}

article h2 {
  font-size: 1.3em;
}

article h3 {
  font-size: 1.0em;
}

article h1,
article h2,
article h3,
article h4,
article h5 {
  margin-top: 20px;
  margin-bottom: 0px;
}

article p {
  margin-bottom: 10px;
  margin-top: 0px;
}

article code {
  background: #131313;
  border-left: 1px solid #ddd;
  color: #fff;
  display: block;
  overflow-x: auto;
  padding: 10px;
  font-size: 1.2em;
}

article blockquote {
  font-style: italic;
  padding: 10px;
  border: 10px;
}

article figure {
  margin: 15px;
  display: inline-block;
  background: #111;
  color: #ccc;
  border: solid 1px #333;
  padding: 0;
  width: min-content;
  max-width: min-content;
}

article figure figcaption {
  font-family: monospace;
  text-align: center;
  font-size: 1.1em;
  margin: 5px;
  color: #aaa;
}

center {
  display: block;
  text-align: center;
}

listdate {
    color: #bbb;
}

ul.list {
  display: flex;
  flex-direction: column;
}

ul.list.reverse {
  flex-direction: column-reverse;
}

ul.list > li {
  list-style-type: none;
}

ul.list > li a {
  text-decoration: none;
}

.small-link {
  font-size: 0.6em;
  font-weight: normal;
}

.tldr {
  color: #999;
  font-style: italic;
}

.no_emoji listemoji {
  display: none;
}

.no_date listdate {
  display: none;
}

.pre-container {
  display: flex;
  flex-direction: row;
}

.pre-container pre {
  display: inline-block;
}

/* Styles for smartphones. */
@media only screen and (max-width: 600px) {
  body {
    padding: 20px;
  }

  article figure img {
    max-width: 95vw;
  }
  
  article figure {
    display: block;
    width: min-content;
    max-width: min-content;
    margin: 10px auto;
    float: none!important;
  }

  article h1,
  article h2,
  article h3,
  article h4,
  article h5 {
    text-align: center;
    margin-bottom: 5px;
  }
}
:root {
  --hcb-bg: #111;
  --hcb-fg: #ccc;
  --hcb-border: #333; 
}

/* Light mode. */
@media (prefers-color-scheme: light) {
  :root {
    --hcb-bg: #fff;
    --hcb-fg: #000;
    --hcb-border: #bbb; 
  }
}

#HCB_comment_box {
   margin: 0;
   font-family: monospace!important;
}

.comment, #HCB_comment_form_box {	
   text-align: left;
}

#HCB_comment_box .comment {	
   margin-bottom: 1.1em!important;
}

#HCB_comment_form_box {	
   padding-bottom: 0;
}

#HCB_comment_box blockquote {
   border: none!important;
   font-style: normal;
   margin-bottom: 0!important;
   padding-bottom: 5px!important;
}

.hcb-like, .hcb-flag {
   display: none;
}

.hcb-reply, .hcb-reply:hover, .hcb-reply:focus {
   visibility: hidden!important;
} 

.hcb-reply::before {
   content: '💬 Reply';
   visibility: visible;
   padding-left: 12px;
} 

#HCB_comment_box .author-name::before {
   content: '🕵️ ';
}

#HCB_comment_box > h3:first-child, #hcb_msg  {
   display: none;
}

img.hcb-icon[alt=rss] {
  display:none;
  
}

/*
a:has( > img.hcb-icon[alt=rss])::after {
  content: '📡 Comments RSS.';
  font-family: monospace;
  display:block;
  text-align: left;
  margin-top: 20px;
  font-weight: normal
}
*/

#hcb_form_content {
   width: 70%;
}

.home-desc {
   display:none;
}

#hcb_form_name, #hcb_form_content {
   background: var(--hcb-bg)!important;
   font-family: monospace!important;
   font-size: 1em!important;
   border: none!important;
   border-radius: 0!important;
   padding: 5px!important;
}

#hcb_submit, .btn {
  background: transparent!important;
   font-family: monospace!important;
   font-size: 1em!important;
   border: none!important;
}

#HCB_comment_box [id^="replies_"] .comment {
   margin-left: 40px!important;
   margin-bottom: 0.4em!important;
   margin-top: 0.1em!important;
}

.hcb-comment-body {
  margin-left: 10px!important;
}


/* Style I stole from some guy cool website and changed a bit. */
#HCB_comment_box #HCB_comment_form_box {
  position: relative;
  left: 0;
  padding: 10px;
  z-index: 20;
  margin-bottom: 50px;
  right: 0;
  border: 1px solid var(--hcb-border);
  background: var(--hcb-bg);
}

#HCB_comment_box #hcb_form {
  margin-bottom: 0;
}

#HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name { /* This is for the font of the submission boxes */
  font-family: 'Trebuchet MS', sans-serif !important;
  font-weight: normal !important;
}

#hcb_form_name { /* This is for the border of the name input */
  border-radius: 0px !important;
  border: 1px solid var(--hcb-border) !important;
  display: none !important;
}

#hcb_form_content { /* This is for the border of the content input */
  border-radius: 0px !important;
  border: 1px solid var(--hcb-border) !important;
  background: var(--hcb-bg) !important;
  color: var(--hcb-fg) !important;
  resize: vertical !important;
}

#hcb_submit { /* This is for the border and font of the submit button */
  border-radius: 0px !important;
  font-family: 'Trebuchet MS', sans-serif !important;
  border: 1px solid var(--hcb-border) !important;
  color: var(--hcb-fg) !important;
}

#HCB_comment_form_box .btn-secondary { /* This is for the border and font of the "Attach Image" button */
  border-radius: 0px !important;
  font-family: 'Trebuchet MS', sans-serif !important;
  border: 1px solid #333 !important;
}

#HCB_comment_box #hcb_form .home-desc { /* This gets rid of the annoying fucking HCB watermark */
  display: none !important;
}

#hcb_form::before {
	content: '⚠️ Aviso: todos os comentários passam por aprovação. Saiba mais abaixo.';
	color: var(--hcb-fg);
	font-weight: bold;
}

#HCB_comment_box { /* This is for the font of posts/replies */
  font-family: 'Trebuchet MS', sans-serif !important;
}


html body div#HCB_comment_box div#comments_list div[id^="comment"].comment p.hcb-comment-tb button.hcb-like { /* Gets rid of like button regardless of settings */
  display: none !important;
}

.likes {
  display: none !important;
}

#HCB_comment_box h3 { /* This is for the font of the board header */
  font-family: 'Trebuchet MS', sans-serif !important;
}

#HCB_comment_box .comment { /* This is for the border of all posts/replies */
  padding: 5px 15px 15px 15px;
  border: 1px solid var(--hcb-border);
  background: var(--hcb-bg);
}

#HCB_comment_box .comment img { /* This is for the border of all posts/replies images */
  max-width: 200px;
  height: auto;
}

#HCB_comment_box .comment [id^="replies"] { /* This is for the border of the replies container */
  margin: 10px 0 10px 0;
  padding: 2px 2px 2px 0;
}

#HCB_comment_box [id^="replies"] .comment  { /* This is for the border of individual replies */
  margin: 5px 0 5px 0 !important;
  border: 0 solid black;
}

#comments_list {
  padding-right: 0px !important;
}
